@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/swapthebiz/Montserrat-Regular.ttf");
   }
@font-face {
   font-family: "Montserrat";
   src: url("../../fonts/swapthebiz/Montserrat-Light.ttf");
   font-weight: 300;
  }
@font-face {
    font-family: "Montserrat";
    src: url("../../fonts/swapthebiz/Montserrat-SemiBold.ttf");
    font-weight: 600;
   }
@font-face {
   font-family: "Montserrat";
   src: url("../../fonts/swapthebiz/Montserrat-Medium.ttf");
   font-weight: 500;
  }
@font-face {
   font-family: "Montserrat";
   src: url("../../fonts/swapthebiz/Montserrat-Bold.ttf");
   font-weight: 700;
  }
